:root {
  font-size: 12px;
  --quad: cubic-bezier(0.48, 0.04, 0.52, 0.96);
  --quart: cubic-bezier(0.76, 0.00, 0.24, 1.00);
  --quint: cubic-bezier(0.84, 0.00, 0.16, 1.00);

  --color-tab-idle: #2c2c2c;
  --color-tab-hover: #a1a1a1;
  --color-tab-selected: #46a0f5;
  --color-bg: #323232;

  --tab-margin: .75rem;
  --font-size: .875rem;

  font-family: Rubik;
  color: #a1a1a1;
  margin: .5rem .25rem 0px .25rem;
  background-color: var(--color-bg);
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
  font-family: 'Swap-Font';
  src:
  url('fonts/Swap-Font.ttf?ehpwfl') format('truetype'),
  url('fonts/Swap-Font.woff?ehpwfl') format('woff'),
  url('fonts/Swap-Font.svg?ehpwfl#Swap-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.viewbox {
  width: 100%;
  flex-direction: row;
  user-select: none;
}

.swap-icon-both, .swap-icon-fill, .swap-icon-stroke {
  display: none;
}

.anno {
  margin-left: .25rem;
  font-size: var(--font-size);
  display: none;
}

.styleanno {
  font-size: var(--font-size);
}

.scopelist {
  /* overflow: hidden; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-flow: row nowrap; */
  margin-bottom: var(--tab-margin);
}

[class^="selector"] {
  width: 100%;
  height: 0px;
  border-width: 1.5px;
  border-style: solid;
}

[class^="selectorTop"] {
  margin-bottom: .5rem;
}

[class^="selectorBottom"] {
  margin-top: .5rem;
}

.selectorTop-idle {
  border-color: var(--color-tab-idle);
}

.selectorTop-active {
  border-color: var(--color-tab-selected);
}

.selectorBottom-idle {
  border-color: var(--color-tab-idle);
}

.selectorBottom-active {
  border-color: var(--color-tab-selected);
}

.scope-idle:hover > .selectorTop-idle {
  border-color: var(--color-tab-hover);
}

.divider {
  display: none;
  width: 100%;
  height: 0px;
  border: 1.5px solid var(--color-tab-idle);
}

[class^="swatch-"] {
  display: flex;
  margin: .25rem;
  width: 15%;
  height: 20%;
  min-width: 1.75rem;
  min-height: 1.75rem;
  cursor: pointer;
}

[class^="swatch-"]:active {
  border-color: var(--color-tab-selected);
}

.addSwatch {
  border: 2px solid red;
  width: 1rem;
  height: 2rem;
  cursor: pointer;
}

.swatch-active {
  outline: 2px solid var(--color-tab-selected);
}

.swatch-idle {
  outline: 2px solid var(--color-tab-idle);
}

.swatchlist {
  margin-top: 1rem;
  flex-flow: row wrap;
  width: 100%;
  display: flex;
}

.swaplist {
  /* border: 2px solid green; */
  margin-top: 1rem;
  display: flex;
  /* flex-flow: row nowrap; */
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

[class^="flipper-"] {
  height: 2rem;
  font-size: 1.5rem;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  margin: 0px 1px;
  /* margin: 0px .5rem; */
  cursor: pointer;
}

.flipper-active {
  opacity: 1;
}

.flipper-idle {
  opacity: .25;
}

[class^="drop-"] {
  /* display: flex; */
  /* border: 2px solid blue; */
  height: 2rem;
  width: 25%;
  cursor: pointer;
}

.drop-active {
  outline: 2px solid var(--color-tab-selected);
}

.drop-idle {
  outline: 2px solid var(--color-tab-idle);
}

[class^="scope-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-size: 1.5rem;
  width: 25%;
  cursor: pointer;
}

.scope-active {
  color: var(--color-tab-selected);
}

.scope-idle {
  color: var(--color-tab-hover);
}

.stylelist {
  flex-flow: row nowrap;
  width: 100%;
  display: flex;
}

.style-idle:hover > .selectorBottom-idle {
  border-color: var(--color-tab-hover);
}

[class^="style-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-size: 1.5rem;
  width: 33.33%;
  cursor: pointer;
}

.style-active {
  color: var(--color-tab-selected);
}

.style-idle {
  color: var(--color-tab-hover);
}

/* FOLD 1 -- Column with annotation */
@media only screen and (max-width: 120px){
  .viewbox {
    overflow: hidden;
  }
  .swaplist {
    margin-top: 0px;
    width: 94%;
    position: absolute;
    margin-right: 1rem;
    top: calc(var(--tab-margin)*21);
    /* justify-content: space-around; */
  }
  .swatchlist {
    width: 94%;
    position: absolute;
    top: calc(var(--tab-margin)*24);
    justify-content: center;
  }
  [class^="drop-"] {
    width: 25%;
  }
  [class^="swatch-"] {
    width: 25%;
    height: 25%;
  }
  .anno {
    display: flex;
  }
  .styleanno {
    margin-left: .5rem;
  }
  .swap-icon-both, .swap-icon-fill, .swap-icon-stroke {
    display: block;
  }
  .divider {
    opacity: .5;
    margin-left: 2px;
    margin-top: .25rem;
    display: flex;
    position: absolute;
    top: calc(var(--tab-margin)*11.125);
  }
  .viewbox {
    flex-direction: column;
  }
  .stylelist {
    position: absolute;
    top: calc(var(--tab-margin)*12);
    /* top: 110px; */
    flex-direction: column;
  }
  .scopelist {
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
  }
  [class^="scope-"] {
    width: 100%;
    margin: 0px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  [class^="style-"] {
    width: 100%;
    margin: 0px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  [class^="selector"] {
    position: relative;
    margin: 0px .5rem 0px .125rem;
    width: 0px;
    height: 20px;
  }
  [class^="selectorBottom"] {
    order: -2;
  }
}

/* FOLD 2 -- Row wrapped, 2 x 2 */
@media only screen and (max-width: 90px) {
  .stylelist, .scopelist {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: row;
    position: relative;
    top: 0px;
    flex-wrap: wrap;
  }
  .swaplist {
    top: calc(var(--tab-margin)*16);
  }
  .swatchlist {
    /* justify-content: flex-start; */
    top: calc(var(--tab-margin)*19);
  }
  .divider {
    top: calc(var(--tab-margin)*6.3);
  }
  [class^="flipper-"] {
    padding: 0px .25rem;
  }
  [class^="drop-"] {
    /* width: 1rem; */
  }
  [class^="swatch-"] {
    width: 39%;
    min-width: 1.8rem;
  }
  [class^="scope-"] {
    width: 50%;
  }
  [class^="selectorTop"] {
    margin: 0px 10% 0px .125rem;
  }
  .anno {
    display: none;
  }
}

/* FOLD 3 -- Minimum vertical toolbar */
@media only screen and (max-width: 60px) {
  .swatchlist {
    flex-direction: column;
    top: calc(var(--tab-margin)*28);
    justify-content: center;
  }
  .swaplist {
    margin-left: .25rem;
    flex-direction: column;
    align-items: baseline;
    width: 30px;
    top: calc(var(--tab-margin)*21);
    justify-content: center;
  }
  .stylelist, .scopelist {
    justify-content: center;
  }
  .styleanno {
    display: none;
  }
  [class^="drop-"] {
    height: 1rem;
    width: 60%;
    min-width: 24px;
  }
  [class^="swatch-"] {
    height: 1rem;
    width: 70%;
    min-width: 24px;
  }
  [class^="flipper-"] {
    width: 60%;
    min-width: 24px;
    display: flex;
    justify-content: center;
    /* padding-left: 0px; */
    padding: .5rem 0px;
  }
  [class^="scope-"] {
    width: 100%;
  }
  [class^="selector"] {
    margin: 0px .35rem 0px .125rem;
  }
  .divider {
    top: calc(var(--tab-margin)*11.25);
  }
}



/* icomoon font */
[class^="swap-icon-"], [class*=" swap-icon-"] {
  font-family: 'Swap-Font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.swap-icon-swapH:before {
  content: "\e907";
}
.swap-icon-swapV:before {
  content: "\e908";
}
.swap-icon-artboard:before {
  content: "\e900";
}
.swap-icon-doc:before {
  content: "\e901";
}
.swap-icon-layer:before {
  content: "\e902";
}
.swap-icon-selection:before {
  content: "\e903";
}
.swap-icon-both:before {
  content: "\e904";
}
.swap-icon-fill:before {
  content: "\e905";
}
.swap-icon-stroke:before {
  content: "\e906";
}
.swap-icon-close:before {
  content: "\e91f";
}
.swap-icon-angleDown:before {
  content: "\e926";
}
.swap-icon-angleLeft:before {
  content: "\e927";
}
.swap-icon-angleRight:before {
  content: "\e928";
}
.swap-icon-angleUp:before {
  content: "\e929";
}
.swap-icon-angleUpDown:before {
  content: "\e915";
}
